body{
    background-color:blanchedalmond;
    
}

.name{
    margin-left: 40px;
}

.img-responsive{
    position: static;
    width: 328px;
    height: 280px;
    left: 16px;
    top: 190px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
